# System Files
.DS_Store
Thumbs.db

# IDE - VSCode
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Workspaces
*.code-workspace

# Dependencies
*.lock